<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #646D7E;
                background-color: #646D7E;
                color: #ffffff;
            }

            .ui-diagram-element:hover {
                background-color: #828B9C;
            }

            .start-node {
                width:4em;
                border-radius: 6px;
                background-color: #000000 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>

            <p:growl id="pgErrores"/>
            <p:panel header="#{bundle.titulo} #{beanJardinInfantil.listaSE.contarNodos()}" id="pnlInfante">
                <center>
                    <p:panelGrid columns="2" id="pnlDatos">
                        <p:outputLabel value="#{bundle.nombre}" for="hitNombre"/>
                        <p:inputText id="hitNombre" disabled="#{beanJardinInfantil.deshabilitarNuevo}"
                                     value="#{beanJardinInfantil.infanteMostrar.dato.nombre}" required="true"/>

                        <p:outputLabel value="#{bundle.edad}" for="spEdad"/>
                        <p:spinner id="spEdad" required="true" min="1" max="7" 
                                   value="#{beanJardinInfantil.infanteMostrar.dato.edad}"     
                                   disabled="#{beanJardinInfantil.deshabilitarNuevo}"/>

                        <p:outputLabel value="#{bundle.genero}" for="somGenero"/>
                        <p:selectOneMenu value="#{beanJardinInfantil.infanteMostrar.dato.genero}" id="somGenero" required="true" 
                                         disabled="#{beanJardinInfantil.deshabilitarNuevo}">
                            <f:selectItem itemValue="0" itemLabel="#{bundle.somSeleccione}" itemEscaped="true"/>
                            <f:selectItem itemValue="M" itemLabel="#{bundle.somMasculino}"/>
                            <f:selectItem itemValue="F" itemLabel="#{bundle.somFemenino}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{bundle.eliminarPosicion}" for="spEliminar"/>
                        <p:spinner id="spEliminar" required="true" min="1" max="#{beanJardinInfantil.listaSE.contarNodos()}" 
                                   value="#{beanJardinInfantil.posicion}"     
                                   disabled="#{!beanJardinInfantil.deshabilitarNuevo}"/>

                    </p:panelGrid>
                    <p:dataTable id="tblInfantes" value="#{beanJardinInfantil.listaSE.listarNodosInfantes()}"
                                 var="fila" rendered="#{beanJardinInfantil.verTabla}">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.edad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Género"/>
                            </f:facet>
                            <p:outputLabel value="#{fila.genero}"/>
                        </p:column>
                    </p:dataTable>

                    <h:panelGroup layout="block"> <br/>
                        <p:commandButton value="#{bundle.btnPrimero}"
                                         ajax="false"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"
                                         action="#{beanJardinInfantil.irAlPrimero()}"
                                         disabled="#{beanJardinInfantil.deshabilitarPrimero}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnSiguiente}" 
                                         ajax="false"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"
                                         action="#{beanJardinInfantil.irAlSiguiente()}"
                                         disabled="#{beanJardinInfantil.deshabilitarSiguiente}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnUltimo}"
                                         ajax="false"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"
                                         action="#{beanJardinInfantil.irAlUltimo()}"
                                         disabled="#{beanJardinInfantil.deshabilitarUltimo}"
                                         update="@all"/><br/><br/>

                        <p:commandButton value="#{bundle.btnNuevo}"
                                         ajax="false"
                                         action="#{beanJardinInfantil.habilitarCrearInfante()}"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"
                                         update="pnlInfante"/>

                        <p:commandButton value="#{bundle.btnGuardar}" 
                                         ajax="false" 
                                         action="#{beanJardinInfantil.guardarInfante()}" 
                                         update="@all"
                                         rendered="#{!beanJardinInfantil.deshabilitarNuevo}"/>

                        <p:commandButton value="#{bundle.btnGuardarInicio}" 
                                         ajax="false"
                                         action="#{beanJardinInfantil.guardarInfanteAlInicio()}"
                                         update="@all"
                                         rendered="#{!beanJardinInfantil.deshabilitarNuevo}"/>

                        <p:commandButton value="#{bundle.btnInvertir}" 
                                         ajax="false"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo and 
                                                     beanJardinInfantil.listaSE.cabeza != null }"
                                         action="#{beanJardinInfantil.invertirLista()}"
                                         disabled="#{beanJardinInfantil.deshabilitarEliminar}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         ajax="false"
                                         action="#{beanJardinInfantil.cancelarGuardado()}"
                                         rendered="#{!beanJardinInfantil.deshabilitarNuevo}"
                                         immediate="true" update="@all" />

                        <p:commandButton value="#{bundle.btnEliminar}" 
                                         ajax="false"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"
                                         action="#{beanJardinInfantil.eliminarInfante()}"
                                         disabled="#{beanJardinInfantil.deshabilitarEliminar}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnEliminarPosicion}" 
                                         ajax="false"
                                         action="#{beanJardinInfantil.eliminarXPosicion()}"
                                         disabled="#{beanJardinInfantil.deshabilitarEliminar}"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnVertabla}" 
                                         action="#{beanJardinInfantil.visualizarTabla()}"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}" 
                                         update="pnlInfante" />

                        <p:commandButton value="#{bundle.btnOcultarTabla}" 
                                         action="#{beanJardinInfantil.ocultarTabla()}"
                                         rendered="#{beanJardinInfantil.deshabilitarNuevo}" 
                                         update="pnlInfante" />

                    </h:panelGroup>

                    <p:diagram value="#{beanJardinInfantil.model}" 
                               style="height:700px" styleClass="ui-widget-content" />

                </center>
            </p:panel>

        </h:form>
    </h:body>
</html>

