<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.tituloCircular}</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:7em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #646D7E;
                background-color: #646D7E;
                color: #ffffff;
            }

            .ui-diagram-element:hover {
                background-color: #828B9C;
            }

            .start-node {
                width:4em;
                border-radius: 6px;
                background-color: #000000 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }

            .columna{
                width: 3em;
            }

            .encabezado{
                font-weight: bold;
            }
            
            .pie{
                position: absolute;
                left: 50%;
            }

        </style>

    </h:head>
    <h:body>
        <h:form>

            <p:growl id="pgErrores"/>
            <p:panel header="#{bundle.tituloCircular} #{beanListaCircular.listaCircular.contarNodos()}" id="pnlInfante">

                 <p:chart type="pie" model="#{beanListaCircular.pieModel1}" style="width:400px;height:300px" class="pie" />
                <p:panelGrid columns="2" id="pnlDatos">
                    <p:outputLabel value="#{bundle.nombre}" for="hitNombre"/>
                    <p:inputText id="hitNombre" disabled="#{beanListaCircular.deshabilitarNuevo}"
                                 value="#{beanListaCircular.infanteMostrar.dato.nombre}" required="true"/>

                    <p:outputLabel value="#{bundle.edad}" for="spEdad"/>
                    <p:spinner id="spEdad" required="true" min="1" max="7" 
                               value="#{beanListaCircular.infanteMostrar.dato.edad}"     
                               disabled="#{beanListaCircular.deshabilitarNuevo}"/>

                    <p:outputLabel value="#{bundle.genero}" for="somGenero"/>
                    <p:selectOneMenu value="#{beanListaCircular.infanteMostrar.dato.genero}" id="somGenero" required="true" 
                                     disabled="#{beanListaCircular.deshabilitarNuevo}">
                        <f:selectItem itemValue="0" itemLabel="#{bundle.somSeleccione}" itemEscaped="true"/>
                        <f:selectItem itemValue="M" itemLabel="#{bundle.somMasculino}"/>
                        <f:selectItem itemValue="F" itemLabel="#{bundle.somFemenino}"/>
                    </p:selectOneMenu>

                    <p:outputLabel value="#{bundle.esCabeza}" for="value1"/>
                    <p:selectBooleanButton id="value1" value="#{beanListaCircular.esCabeza}" 
                                           disabled="#{beanListaCircular.deshabilitarNuevo}"
                                           onLabel="SI" offLabel="NO" style="width:60px" />

                </p:panelGrid>
               


                <p:panelGrid columns="2" id="pnlPorcentaje">
                    <p:outputLabel value="#{bundle.porcentajeGenero}" class="encabezado" />
                    <p:outputLabel value="#{bundle.porcentajeCantidad}" class="encabezado" />

                    <p:outputLabel value="#{bundle.ninos}" />
                    <p:outputLabel value="#{beanListaCircular.listaCircular.contarNodoMasculino()}" />

                    <p:outputLabel value="#{bundle.ninas}" />
                    <p:outputLabel value="#{beanListaCircular.listaCircular.contarNodoFemenino()}" />
                </p:panelGrid>
                
                <center>

                    <h:panelGroup layout="block"> <br/>

                        <p:commandButton value="#{bundle.btnNuevo}"
                                         ajax="false"
                                         action="#{beanListaCircular.habilitarCrearInfante()}"
                                         rendered="#{beanListaCircular.deshabilitarNuevo}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnJugarIzquierda}"
                                         ajax="false"
                                         action="#{beanListaCircular.juagarALaIzquierda()}"
                                         rendered="#{beanListaCircular.deshabilitarNuevo}"
                                         disabled="#{beanListaCircular.deshabilitarJuego}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnJugarDerecha}"
                                         ajax="false"
                                         action="#{beanListaCircular.juagarALaDerecha()}"
                                         rendered="#{beanListaCircular.deshabilitarNuevo}"
                                         disabled="#{beanListaCircular.deshabilitarJuego}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnGuardar}" 
                                         ajax="false" 
                                         action="#{beanListaCircular.guardarInfante()}" 
                                         update="@all"
                                         rendered="#{!beanListaCircular.deshabilitarNuevo}"/>

                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         ajax="false"
                                         action="#{beanListaCircular.cancelarGuardado()}"
                                         rendered="#{!beanListaCircular.deshabilitarNuevo}"
                                         immediate="true" update="@all" />

                    </h:panelGroup>

                    <p:diagram value="#{beanListaCircular.model}" 
                               style="height:700px" styleClass="ui-widget-content" /><br/><br/>

                </center>
                <p:dataTable id="tblEliminados" value="#{beanListaCircular.listaInfantesEliminados}"
                             var="fila" rendered="true" >
                    <p:column class="columna">
                        <f:facet name="header">
                            <p:outputLabel value="Nombre"/>
                        </f:facet>
                        <p:outputLabel value="#{fila.nombre}"/>
                    </p:column>
                    <p:column class="columna">
                        <f:facet name="header">
                            <p:outputLabel value="Edad"/>
                        </f:facet>
                        <p:outputLabel value="#{fila.edad}"/>
                    </p:column>
                    <p:column class="columna">
                        <f:facet name="header">
                            <p:outputLabel value="Género"/>
                        </f:facet>
                        <p:outputLabel value="#{fila.genero}"/>
                    </p:column>
                    <p:column style="width:32px;text-align: center" class="columna">
                        <p:commandButton update="@all"  title="Reingresar" ajax="false" 
                                         action="#{beanListaCircular.reingresarNiño()}"
                                         disabled="#{beanListaCircular.deshabilitarJuego}"
                                         icon="ui-icon-arrowreturnthick-1-n">

                            <f:setPropertyActionListener value="#{fila}" target="#{beanListaCircular.infanteSeleccionado}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>


            </p:panel>
            
        </h:form>
    </h:body>
</html>

