<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #646D7E;
                background-color: #646D7E;
                color: #ffffff;
            }

            .ui-diagram-element:hover {
                background-color: #828B9C;
            }

            .start-node {
                width:4em;
                border-radius: 6px;
                background-color: #000000 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>

            <p:growl id="pgErrores"/>
            <p:panel header="#{bundle.tituloListaDE} #{beanListaDE.listaDE.contarNodos()}" id="pnlInfante">
                <center>
                    <p:panelGrid columns="2" id="pnlDatos">
                        <p:outputLabel value="#{bundle.nombre}" for="hitNombre"/>
                        <p:inputText id="hitNombre" disabled="#{beanListaDE.deshabilitarNuevo}"
                                     value="#{beanListaDE.infanteMostrar.dato.nombre}" required="true"/>

                        <p:outputLabel value="#{bundle.edad}" for="spEdad"/>
                        <p:spinner id="spEdad" required="true" min="1" max="7" 
                                   value="#{beanListaDE.infanteMostrar.dato.edad}"     
                                   disabled="#{beanListaDE.deshabilitarNuevo}"/>

                        <p:outputLabel value="#{bundle.genero}" for="somGenero"/>
                        <p:selectOneMenu value="#{beanListaDE.infanteMostrar.dato.genero}" id="somGenero" required="true" 
                                         disabled="#{beanListaDE.deshabilitarNuevo}">
                            <f:selectItem itemValue="0" itemLabel="#{bundle.somSeleccione}" itemEscaped="true"/>
                            <f:selectItem itemValue="M" itemLabel="#{bundle.somMasculino}"/>
                            <f:selectItem itemValue="F" itemLabel="#{bundle.somFemenino}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{bundle.eliminarPosicion}" for="spEliminar"/>
                        <p:spinner id="spEliminar" required="true" min="1" max="#{beanListaDE.listaDE.contarNodos()}" 
                                   value="#{beanListaDE.posicion}"     
                                   disabled="#{!beanListaDE.deshabilitarNuevo}"/>

                    </p:panelGrid>

                    <h:panelGroup layout="block"> <br/>
                        <p:commandButton value="#{bundle.btnPrimero}"
                                         ajax="false"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         action="#{beanListaDE.irAlPrimero()}"
                                         disabled="#{beanListaDE.deshabilitarPrimero}"
                                         update="@all"/>
                        
                        <p:commandButton value="#{bundle.btnAnterior}" 
                                         ajax="false"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         action="#{beanListaDE.irAlAnterior()}"
                                         disabled="#{beanListaDE.deshabilitarAnterior}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnSiguiente}" 
                                         ajax="false"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         action="#{beanListaDE.irAlSiguiente()}"
                                         disabled="#{beanListaDE.deshabilitarSiguiente}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnUltimo}"
                                         ajax="false"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         action="#{beanListaDE.irAlUltimo()}"
                                         disabled="#{beanListaDE.deshabilitarUltimo}"
                                         update="@all"/><br/><br/>

                        <p:commandButton value="#{bundle.btnNuevo}"
                                         ajax="false"
                                         action="#{beanListaDE.habilitarCrearInfante()}"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         update="pnlInfante"/>

                        <p:commandButton value="#{bundle.btnGuardar}" 
                                         ajax="false" 
                                         action="#{beanListaDE.guardarInfante()}" 
                                         update="@all"
                                         rendered="#{!beanListaDE.deshabilitarNuevo}"/>

                        <p:commandButton value="#{bundle.btnGuardarInicio}" 
                                         ajax="false"
                                         action="#{beanListaDE.guardarInfanteAlInicio()}"
                                         update="@all"
                                         rendered="#{!beanListaDE.deshabilitarNuevo}"/>

                        <p:commandButton value="#{bundle.btnInvertir}" 
                                         ajax="false"
                                         rendered="#{beanListaDE.deshabilitarNuevo and 
                                                     beanListaDE.listaDE.cabeza != null }"
                                         action="#{beanListaDE.invertirLista()}"
                                         disabled="#{beanListaDE.deshabilitarEliminar}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         ajax="false"
                                         action="#{beanListaDE.cancelarGuardado()}"
                                         rendered="#{!beanListaDE.deshabilitarNuevo}"
                                         immediate="true" update="@all" />

                        <p:commandButton value="#{bundle.btnEliminar}" 
                                         ajax="false"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         action="#{beanListaDE.eliminarInfante()}"
                                         disabled="#{beanListaDE.deshabilitarEliminar}"
                                         update="@all"/>

                        <p:commandButton value="#{bundle.btnEliminarPosicion}" 
                                         ajax="false"
                                         action="#{beanListaDE.eliminarXPosicion()}"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         disabled="#{beanListaDE.deshabilitarEliminar}"
                                         update="@all"/>
                        
                        <p:commandButton value="#{bundle.btnEliminarSuicida}" 
                                         ajax="false"
                                         rendered="#{beanListaDE.deshabilitarNuevo}"
                                         action="#{beanListaDE.eliminarDondeEstoyParado()}"
                                         disabled="#{beanListaDE.deshabilitarEliminar}"
                                         update="@all"/>

                    </h:panelGroup>

                    <p:diagram value="#{beanListaDE.model}" 
                               style="height:700px" styleClass="ui-widget-content" />



                </center>
            </p:panel>

        </h:form>
    </h:body>
</html>

