<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:growl id="pnlErrorLogin"/>
        <h:form>
            <center>
                <p:outputLabel value="#{bundle.Usuario}"/>
                <p:inputText value="#{beanLogin.usuario}" required="true"/><br/><br/>
                
                <p:commandButton value="#{bundle.indxListaSE}" 
                                 action="#{beanLogin.ingresarlistaSE()}" 
                                 update="pnlErrorLogin,@this"
                                 ajax="false"/>
                
                <p:commandButton value="#{bundle.indxListaDE}" 
                                 action="#{beanLogin.ingresarlistaDE()}" 
                                 update="pnlErrorLogin,@this"
                                 ajax="false"/>
                
                <p:commandButton value="#{bundle.indxListaCircular}" 
                                 action="#{beanLogin.ingresarlistaCircular()}" 
                                 update="pnlErrorLogin,@this"
                                 ajax="false"/>
                <br/><br/>
                <h:link outcome="listase/listase.xhtml" value="Ir a lista SE" />
                <span>---</span>
                <h:link outcome="listade/listade.xhtml" value="Ir a lista DE" />
                <span>---</span>
                <h:link outcome="listacircular/listacircular.xhtml" value="Ir a lista Circular" />
                
            </center>


        </h:form>
    </h:body>
</html>

